.sidebar {
  width: 240px;
  background-color: #191921;
  margin-top: -10px;
}
.sidebarWrapper {
  margin-left: 20px;
  margin-top: 20px;
  color: #555;
}
.sidebarMenu {
  margin-bottom: 10px;
}
.sidebarList {
  list-style: none;
  padding: 5px;
}
.sidebarListItem {
  margin-bottom: 40px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: #ffff;
}
.sidebarListItem1 {
  margin-bottom: 40px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color : #8B8999
}
.sidebarListItemFavorite{
  margin-top: 34px;
  margin-bottom: 95px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color : #8B8999
}
.sidebarListItem2 {
  margin-bottom: 40px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color : #8B8999
}
.sidebarListItemSettings{
  margin-top: 33px;
  margin-bottom: 40px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color : #8B8999
}
.sidebarListItem3 {
  margin-bottom: 40px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color : #8B8999
}
.sidebarListItem.active,
.sidebarListItem:hover {
  color: #ffff;
}
.sidebarIcon{
    margin-right: 27px;
    font-size: 20px !important;
}
.hr{
  margin-top: 33px;
  position: relative;
  margin-right: 32px;
  height: 0.1px;
  background : #8B8999;
  background-color: #8B8999;
  color: #8B8999;
  border-color: #8B8999;
}
.hr2{
  margin-top: 252px;
  position: relative;
  margin-right: 32px;
  height: 0.1px;
  background : #8B8999;
  background-color: #8B8999;
  color: #8B8999;
  border-color: #8B8999;
}









