.nav{
position: absolute;
width: 240px;
height: 1117px;


background: #191921;
}


.logo_text{
    
    margin-left: 32px;
    margin-top: 25px;
    font-size: 20px;
    color: #ffffff;
   
}

.home_btn{
    /* margin-left: 35px;
    width: 87px;
    height: 21px;
    margin-top:104px; */
    color: #ffffff;
    
    
}


.home_text{
    text-align: right;
    
}