.home{
  width: 100%;
  height: auto;
  color: aliceblue;
  padding: 30px;
}

.homeWrapper{
  width: 100%;
  height: 1020px;
  /*padding: 30px 30px;*/
  
}

/* ====================  New Artist  ======================== */

.home_newArtist{
  width: 100%;
  height: 122px;
  padding-top: 30px;
}

.home_newArtistTitle{
  width: 118px;
  height: 30px;

  font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */


color: #FFFFFF;
}

.home_newArtistItem{
  width: 100%;
  height: 80px;
  margin-top: 12px;
  display: flex;
}

.home_newArtistItemContainer{
  width: 250px;
  height: 100%;
  border-radius: 6px;
  background-color : #191922;
  display: flex;
  margin-right: 24px;
}

.home_newArtistItemContainerLast{
  width: 250px;
  height: 100%;
  border-radius: 6px;
  background-color : #191922;
  display: flex;
}

.home_newArtistItemContainerLeft{
  width: 60px;
  height: 60px;
  padding: 10px 0px 10px 14px;
  
}

.home_newArtistItemContainerRight{
  width: 93px;
  height: 80px;
  margin-left: 13px;
}

.home_Aritist_img{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  cursor: pointer;
}

.home_newArtistItemContainerNameBox{
  width : 93px;
  height : 21px;
  /* margin: 20px 62px 0px 13px; */
  margin-top: 19px;
  
}

.home_newArtistItemContainerArtistName{
  width : 93px;
  width : 21px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.home_newArtistItemContainerMusicGenreBox{
  width : 93px;
  height : 21px;
}

.home_newArtistItemContainerMusicGenre{
  width : 93px;
  width : 21px;
  font-size: 13px;
  font-weight: 400;
  color : #8b8999
}

/* ====================  Live Stage  ======================== */

.home_LiveStage{
  width : 1620px;
  height : 281px;

  padding-top : 30px;
}