
  .StoreMain_Contents_Box{
    height: 304px;
    padding: 12px 0 ;
    /* border-radius: 6px;
    background-color : #191922; */

    display: flex;
    /* justify-content: space-between; */
  }

  .store_link{
    text-decoration: none;
    color: inherit;
  }

  .StoreMain_Contents_Item{
    width: 247px;
    height: 100%;

    margin-right: 24px;
  }

  .StoreMain_Contents_ItemLast{
    width: 246px;
    height: 100%;
  }

  .StoreMain_Contents_Item_img{
    width: 100%;
    height: 218px;
    border-radius: 6px;
    background-color : #191922;

  }

  .StoreMain_Contents_Item_TextBox{
    width: 100%;
    height: 98px;

    
  }

  .StoreMain_Contents_Item_TextBox_Contanier{
    width: 215px;
    height: 74px;
    padding: 12px 16px 0;
    text-align: center;
}

.StoreMain_Contents_Item_TextBox_Contanier_text{
    width: 100%;
    height: 41px;
    display: grid;
}

.StoreMain_Contents_Item_TextBox_Contanier_text_ArtistName{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    
    
    color: #8B8999;
}

.StoreMain_Contents_Item_TextBox_Contanier_text_Detail{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    
    color: #FFFFFF;
}



.StoreMain_Contents_Item_TextBox_Contanier_Money{
    width: 100%;
    height: 21px;

    margin-top: 12px;
}

.StoreMain_Contents_Item_TextBox_Contanier_Money_text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    
   
    
    color: #FFFFFF;
}


  