.sidebar {
  position: fixed;
  width: 240px;
  height: 1020px;
  background-color: #191922;
  color : #ffff;
  top: 60px;
  z-index: 1;
  /* margin-top: -10px; */
}

.sidebarWrapper {
  width: 176px;
  height: 1020px;
  padding: 0 32px;
}

.item_link{
  width : 87px;
  height : 21px;
  text-decoration: none;
  color: inherit;
}


.side_item_1{
  width: 176px;
  height: 226px;
  padding: 24px 0 24px 0;

}

.side_item_2{
  width: 176px;
  height: 265px;
  padding: 26px 0 100px 0;

}

.side_item_3{
  width: 176px;
  height: 85px;
  padding-top: 25px;
}

.sidebarIcon{
  width: 18px;
  height: 20px;
  padding-right: 27px;

}

.item_name{
  width : 120px;
  height : 21px;
  display: flex;
  color: #ffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  padding-bottom: 43px;
}

/* .side_hr {
  width : 176px;
  height : 21px;
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: #F3017F;
	font-size: 14px;
	margin-top: 24px;
}
.side_hr::before{
	content: "";
	flex-grow: 1;
	background: #8B8999;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 44px 0px 0px;
  opacity: 20%;
} */

.hr{
  
  width: 176px;
  height: 0px;
  opacity: 20%;
}


.side_hr::after {
	content: "";
	flex-grow: 1;
	background: #8B8999;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 0px 0px 44px;
  opacity: 20%;
}

.item_Favorite{
  width : 120px;
  height : 21px;
  display: flex;
  color: #ffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

}

.item_help{
  width : 120px;
  height : 21px;
  display: flex;
  color: #ffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.Favorite_artist{
  width : 176px;
  height : 40px;
  padding : 21px 0 34px 0;
}

.Artist_logo{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}





