.StreamLive{
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    
  }
  
  .StreamLive_Wrapper{
    /* width: 1620px; */
    height: 100%;
   
    padding: 30px 30px;
    display: flex;
    
  }

  .StreamLive_left{
    /* width: 1214px; */
    height: 100%;
    /* overflow: overlay; */
    margin-right: 24px;
  }

  /* .StreamLive_left::-webkit-scrollbar {
    display: none;
    } */

  

  

  .StreamLive_LiveView{
    /* width : 100%;
    height : 626px; */
    border-radius: 6px;
    background-color : #191922;
    
    
    text-align: center;
    aspect-ratio: 1214/626;

  }

  .StreamLive_LiveDetails{
    width : 100%;
    /* height : 369px; */

    margin-top: 24px;
  }

  .StreamLive_Title{
    width : 100%;
    /* height : 30px; */

    display: flex;
  }

 
  
 

  .StreamLive_Title_text{
    
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #ffffff;
  }

  .StreamLive_Title_right{
    width: 100%;
    display:  flex;
    justify-content: flex-end;
    flex : 1;
    
  }
  .StreamLive_Title_right_ShareIcon{
    width : 20px;
    height: 20px;
    margin-right: 12px;
    vertical-align: middle;
  }

  .StreamLive_Title_right_Share{
    height: 100%;

    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;

color: #FFFFFF;

    margin-right: 30px;
  }

  .StreamLive_Title_right_ReportIcon{
    width : 20px;
    height: 20px;

    margin-right: 12px;
    vertical-align: middle;
  }

  .StreamLive_Title_right_Report{
    
    height: 100%;

    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;

color: #FFFFFF;
  }

  



  .StreamLive_content{
    width : 100%;
    height : 312px;
  }

  .StreamLive_Content_Info{
    height: 104px;
    display: flex;
    margin: 24px 0px;
    gap: 24px;

  }

  .StreamLive_Content_Info_address{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: #191922;
    
  }

/* ============================================================= */


.StreamLive_address_Container{
  /* width: 250px; */
  height: 100%;
  border-radius: 6px;
  background-color : #191922;
  display: flex;
  margin-left: 24px;
  /* justify-content: center; */
}

.StreamLive_address_Container_left{
  /* width: 60px; */
  height: 60px;
  /* padding: 20px 0px 20px 24px; */
  align-self: center;
  
}

.StreamLive_address_Container_right{
  /* width: 120px; */
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.StreamLive_address_img{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  cursor: pointer;
}

.StreamLive_address_Container_Namebox{
  /* width : 93px; */
  height : 21px;
  /* margin-top: 20px; */
  
}

.StreamLive_address_Container_Namebox_Location{
  /* width : 93px; */
  width : 21px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.StreamLive_address_Container_Namebox_LocationAddr{
  /* width : 150px; */
  height : 21px;
}

.StreamLive_address_Container_Namebox_LocationAddr_text{
  /* width : 150px; */
  width : 21px;
  font-size: 14px;
  font-weight: 400;
  color : #8b8999
}

/* ============================================================= */

  .StreamLive_Content_Info_Date{
    /* width: 250px;
    height: 100%; */
    border-radius: 6px;
    background-color: #191922;
    /* margin-right: 24px; */
  }
  
.StreamLive_Content_Info_Date_textBox{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px 38px 20px 24px;
}

.StreamLive_Content_Info_Date_textBox_text{
  /* width: 82px; */
  height: 20px;
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */

color: #FFFFFF;
}

.StreamLive_Content_Info_year_textBox_text{
  /* width: 150px; */
  height: 40px;
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;

color: #8B8999;
}



  .StreamLive_Content_Info_ArtistName{
    width: 100%;
    height: 100%;

    padding: 6px 0px;
   
  }

  .StreamLive_Content_Info_ArtistName_top{
    width: 100%;
    height: 40px;

    display: flex;
    gap: 12px;
    margin-bottom : 12px;
    justify-content: space-between;
  }

  .StreamLive_Content_Info_ArtistName_btm{
    width: 100%;
    height: 40px;

    display: flex;
  }

  .StreamLive_Content_Info_ArtistName_contanierBox{
    width: 158px;
    height: 40px;
    display: flex;
    border-radius: 100px;
    background-color : #191922;

    
  }

  .StreamLive_Content_Info_ArtistName_contanierBoxLast{
    width: 172px;
    height: 40px;
    display: flex;
    border-radius: 100px;
    background-color : #191922;
  }

  .StreamLive_Artist_img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    cursor: pointer;
  }

  .StreamLive_Content_Info_ArtistName_contanier_textBox{
    /* width: 94px;
    height: 100%; */
    margin-left: 12px;
  }

  .StreamLive_Content_Info_ArtistName_contanier_text{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 40px;

color: #FFFFFF;
  }

  .StreamLive_Content_Details{
    width: 100%;
    /* height: 188px; */
    
    
    border-radius: 6px;
    background-color : #191922;
  }
  .StreamLive_Content_Details_text{
    box-sizing: border-box;
    padding: 25px 25px 25px 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
    color: #FFFFFF;
    
  }

  
/* =============================== StreamLive Chat  ============================== */



  .StreamLive_Right{
    border-radius: 6px;
    background-color: #191922;
    text-align: center;
    flex: 1;
    padding: 24px 36px;
  }

  .StreamLive_Right_Wrapper{
    height : 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
    
  }

  .StreamLive_Right_flexbox{

  }

 

  .StreamLive_Right_top{
    /* width: 308px; */
    height: 42px;

    margin-bottom: 12px;
  }



  .StreamLive_ChatBtn{
  /* width: 308px;
  height: 42px; */

  background: #15141B;
  border-radius: 100px;
  
  }

  .StreamLive_ChatBtn_LiveChat{
    /* width: 154px;  */
    height: 42px;
    display: flex;
    /* display: -webkit-box; */
    /* background: #F3017F; */
    border-radius: 100px;
    align-items: center;
  }

  .StreamLive_ChatBtn_LiveChat_text{
    font-style: normal;
    padding: 10px 40px 10px 40px;
    border-radius: 100px;
    background: #F3017F;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    flex: 1;
  }

  .StreamLive_ChatBtn_Comment_text{
    /* width: 81px;  */
    /* height: 22px; */
    padding: 10px 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    flex: 1;
  }

  .StreamLive_Right_middle{
    /* width:100%; */
    height: 795px;
    overflow: overlay;
  }

  /* .StreamLive_Right_middle::-webkit-scrollbar{
    display: none;
  } */

 

  

  .StreamLive_MessageBox{
    /* width: 100%; */
    /* height: 80px; */

    
    background: #191922;
  }


  .StreamLive_MessageBox_textContainer{
    
    /* height: 20px; */
    display: flex;
    padding: 4px 4px;
  }

  .StreamLive_MessageBox_text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    flex: 1;
    line-height: 20px;
    color: #ffffff;
    background-color: #191922;
    border: none;
  }

  .StreamLive_MessageBox_IconContainer{

    display: flex;
    align-items:flex-end;
    margin-left: 6px;
  }

  .StreamLive_MessageBox_IconContainer_Icon{
    width : 20px;
    height: 20px;

    margin-right: 16px;
    /* vertical-align: middle; */
  }

  .StreamLive_MessageBox_IconContainer_Icon:last-of-type{
    margin: 0;
  }