.ArtistHome{
    width: 100%;
    height: auto;
    color: #FFFFFF;
}

.ArtistHome_Wrapper{
    width: 1618px;
    height: 857px;
    padding: 30px 30px;
    display: flex;

    
}


.ArtistHome_Rh{
    width: 100%;
    height: 100%;
    
    margin-left: 27px;
}

.ArtistHome_Rh_Memu{
    width: 100%;
    height: 42px;

    background: #191922;
    border-radius: 6px;
    margin-bottom: 12px;
}

.ArtistHome_Rh_MemuBox{
    height: 22px;
    padding: 10px 80px;;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    list-style: none;
}

.ArtistHome_Rh_MemuBoxHome{
    height: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    
    
    
}

.ArtistHome_Rh_MemuBoxText:hover{
    color: #F3017F;
    
}

.ArtistHome_Rh_MemuBox_Line{
    width: 19px;
    height: 0px;
    margin: 10px 0;
    border: 1px solid rgba(139, 137, 153, 0.2);
    transform: rotate(90deg);
}




.ArtistHome_Rh_Container{
    width: 100%;
    
}



