.ArtistHome{
    /* width: 100%;
    height: 100%; */
    position: fixed;
    height: calc(100% - 13%) !important;
    color: #FFFFFF;
}

.ArtistHome_Wrapper{
    height: 100%; 
    padding: 30px 30px;
    display: flex;

    
}


.ArtistHome_Rh{
    height: 100%;
    flex: 3;
    margin-left: 27px;
}

.ArtistHome_Rh_Memu{
    width: 100%;
    height: 42px;

    background: #191922;
    border-radius: 6px;
    margin-bottom: 12px;
}

.ArtistHome_Rh_MemuBox{
    height: 22px;
    padding: 10px 70px;;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    list-style: none;
}

.ArtistHome_Rh_MemuBoxHome{
    height: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    
    
    
}

.ArtistHome_Rh_MemuBoxTexthome{
    color: #F3017F;
}



.ArtistHome_Rh_MemuBoxText{
    
    color: #ffffff;
    
}



.ArtistHome_Rh_MemuBox_Line{
    width: 19px;
    height: 0px;
    margin: 10px 0;
    border: 1px solid rgba(139, 137, 153, 0.2);
    transform: rotate(90deg);
}




.AritstHome_Rh_btm{
    /* width: 100%;
    height: 792px; */
    height : calc(100% - 8%);
    overflow: scroll;
    padding-top: 12px;

}

.AritstHome_Rh_btm_topcard{
   
    /* height: 235px; */
    display: flex;
    gap: 24px;
}

.AritstHome_Rh_btm_topcard_item{
    width: 100%;
    height: 100%;
    background: #191922;
    border-radius: 6px;
}

.AritstHome_Rh_btm_topcard_item_wrapper{
    padding : 20px 20px
}

.AritstHome_Rh_btm_topcard_item_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AritstHome_Rh_btm_topcard_item_top_text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
    color: #FFFFFF;
}

.AritstHome_Rh_btm_topcard_item_top_morebox{
    display: flex;
    align-items: center;
}

.AritstHome_Rh_btm_topcard_item_top_moretext{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    
    color: #F3017F;
}

.chevronright{
    width : 18px;
    height : 18px;
}

.AritstHome_Rh_btm_topcard_item_btm{
    height: 149px;
    left: 704px;
    top: 215px;
    background: #15141B;
    border-radius: 6px;
    margin-top: 12px;
}

.AritstHome_Rh_btm_topcard_item_btm_rntextbox{
    padding : 13px 22px 40px 14px
}

.AritstHome_Rh_btm_topcard_item_btm_ustextbox{
    padding : 13px 13px 28px 14px
}

.AritstHome_Rh_btm_topcard_item_btm_fptextbox{
    padding : 13px 13px;
}

.AritstHome_Rh_btm_topcard_item_btm_text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
    color: #FFFFFF;
    
}

.AritstHome_Rh_btm_topcard_item_btm_ustextbox_container{
    height: 48px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    

}

.AritstHome_Rh_btm_topcard_item_btm_ustextbox_container:last-of-type{
    margin-top: 12px;
}

.AritstHome_Rh_btm_topcard_item_btm_ustextbox_container_top{
    display: flex;
    align-items: center;
}

.AritstHome_Rh_btm_topcard_item_btm_ustextbox_container_lf{
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background: #F3017F;
}

.AritstHome_Rh_btm_topcard_item_btm_ustextbox_container_rh{
    height: 24px;
    display: flex;
    flex-direction: column;
    
}

.AritstHome_Rh_btm_topcard_item_btm_ustextbox_container_rh_text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
    color: #FFFFFF;
    margin-left: 12px;
}

.AritstHome_Rh_btm_topcard_item_btm_ustextbox_container_rh_time{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    color: #8B8999;
    margin-left: 21px;
}

.AritstHome_Rh_btm_topcard_item_btm_fptextbox_container{
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AritstHome_Rh_btm_topcard_item_btm_fptextbox_container_descipt{


    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
    color: #FFFFFF;
}

.AritstHome_Rh_btm_topcard_item_btm_fptextbox_container_time{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    
    color: #8B8999;
}




.AritstHome_Rh_btm_hr{
    background: #8B8999;
    /* flex-grow: 1; */
    opacity: 20%;
    height: 1px;
    
    margin : 24px 0;
   
}

.AritstHome_Rh_btm_LiveStage{
    width: 100%;
}

.AritstHome_Rh_btm_LiveStage_Title{
    height: 30px;
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 12px;
    gap: 24px;
}

.AritstHome_Rh_btm_Stage{
    width : 32%;
    color : #ffffff;
}

.AritstHome_Rh_btm_Live{
    color : #f3017f;
}

.AritstHome_Rh_btm_Upcoming{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
   
}

.AritstHome_Rh_btm_LiveStage_Container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.AritstHome_Rh_btm_Previous{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}



