.ArtistSort-popWrapper{
    width: 100px;
    height: auto;
    
    background: #191922;
    border-radius: 10px;

    box-sizing: border-box;
}

.ArtistSort-contentItem{
    /* width: 100%; */
    height: 40px;
    border-top: 1px solid rgba(139, 137, 153, 0.2);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.ArtistSort-contentItem:first-of-type{
    border : none;
    display : flex;
    justify-content: center;
}



.ArtistSort-contentItemText{
    /* width: 100%; */
    height: 17px;

    padding: 12px 12px;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
}