.Noti-popWrapper{
    width: 250px;
    height: auto;
    
    background: #191922;
    border-radius: 10px;

    box-sizing: border-box;

    
    
}

.Noti-ContentItem{
    width: 181px;
    height: 57px;

    padding: 12px 45px 11px 24px;
    
    color: #8B8999;
}

.Noti-ContentItem2{
    width: 181px;
    height: 57px;

    padding: 12px 45px 11px 24px;
    border-top: 1px solid rgba(139, 137, 153, 0.2);
    color: #8B8999;
}


.Noti-ContentItem:hover{
    color: #FFFFFF;
    
}

.Noti-ContentItem2:hover{
    color: #FFFFFF;
    
}

.Noti-ContentItemTop{
    width: 100%;
    height: 17px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
   
    
}



.Noti-ContentItemBtm{
    width: 181px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    
    
}

