.home{
    margin-left: 240px;
    
    background-color: #15141B;
    margin-top: -10px;
    padding: 30px;
    
}

.HomeCarousel{
    /* display: flex;
    margin: 30px; */
}


.ArtistItem{
    
    margin-top: 12px;
}

.LiveStage{
    margin-top: 30px;
    font-size : 20px;
    font-weight : 600;
}

.Live{
    color : #f3017f;
    font-weight : 800;
}
.Stage{
    color : #ffffff;
    font-weight : 600;
}

.StageItem{
    display:  flex;
    justify-content: space-between;
    margin-top: 12px;
}

  .hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: #F3017F;
	font-size: 14px;
	margin-top: 24px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: #8B8999;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 30px;
}

.chevron{
    margin-left: 12px;
}

.UpcomingStage{
    font-weight: 600px;
    margin-top: 30px;
    font-size: 20px;
    line-height : 30px;
    color: #ffffff;
  }

.UpcomingStageItem{
    display:  flex;
    justify-content: space-between;
    margin-top: 12px;
}