.StageList {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

.StageBox{
    /* flex: 1; */

    
    
}

.StageBoxItem{
    width: 380px;
    height: 200px;
    margin-right: 24px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #191922;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.StageArtistImg{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    cursor: pointer;
}

  
  
  .StageTitle{
      display: flex;
      margin-top: 12px;
      align-items: center;
  }
  
  .ArtistUser{
      display: flex;
      flex-direction: column;
  }

  .Title{
    margin-left: 12px;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
  }


.MusicGenre{
    margin-left: 12px;
    font-size: 13px;
    font-weight: 400;
    color : #8b8999
}

  