.sidebar {
  position: fixed;
  width: 240px;
  height: calc(100% - 60px);
  background-color: #191922;
  color: #ffff;
  top: 60px;
  z-index: 1;
  
}

.sidebarWrapper {

    /* height: 885px; */
    height: 100%;
    /* padding-bottom: 32px; */
    position: relative;

}



.item_link{
  /* width : 87px;
  height : 21px; */
  text-decoration: none;
  color: inherit;
}


.side_item_1{
  width: 100%;
  height: auto;
  /* padding: 24px 0 24px 0; */

}

.side_item_2{
  width: 100%;
  height: auto;

}

.side_item_3{
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 32px;
}

.sidebarIcon{
  width: 20px;
  height: 20px;
  margin-right: 26px;
  background-size: contain;
}


.item_name{
  height : 20px;
  display: flex;
  color: #ffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding : 20px 0;
  margin-left: 32px;
  
    
}


.item3_name{
  height : 20px;
  display: flex;
  color: #ffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding : 20px 0;
  margin-left: 32px;
  
}

.item3_name:last-of-type{
  padding-bottom: 0;
}

.home.active{
  /* background-image: url(/Icon/home.svg); */
  

}



.item_nameBar{
  width: 4px;
  height: 24px;
  left: 236px;
  top: 102px;
  position: sticky;
  background: #F3017F;
}


.hr{
  
  width: 176px;
  height: 0px;
  opacity: 20%;
  margin : 10px 32px ;
}

.hr2{
  
  width: 176px;
  height: 0px;
  opacity: 20%;
  margin : 10px 32px;
}


.side_hr::after {
	content: "";
	flex-grow: 1;
	background: #8B8999;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 0px 0px 44px;
  opacity: 20%;
}


.Artist_logo{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}





