.sidebar {
  position: fixed;
  width: 240px;
  height: calc(100% - 60px);
  background-color: #191922;
  /* color: #ffff; */
  top: 60px;
  z-index: 1;
}

.sidebarWrapper {
  /* height: 885px; */
  height: 100%;
  /* padding-bottom: 32px; */
  position: relative;
}

.item_link {
  /* width : 87px;
  height : 21px; */
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

.home_title {
  color: #ffffff;
  width: 50%;
}

.home_title_change {
  color: #8b8999;
}

.side_item_1 {
  width: 100%;
  height: auto;
  /* padding: 24px 0 24px 0; */
}

.side_item_2 {
  width: 100%;
  height: auto;
}

.side_item_3 {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 32px;
}

.sidebarIcon {
  width: 20px;
  height: 20px;
  margin-right: 26px;
  background-size: contain;
}

.item_name {
  height: 20px;
  display: flex;
  color: #8b8999;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 20px 0;
  margin-left: 32px;
}

.item_name:active {
  color: #ffffff;
}

.item_name.selected {
  color: #ffffff;
}

.item3_name {
  height: 20px;
  display: flex;
  color: #8b8999;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 20px 0;
  margin-left: 32px;
}

.item3_name:last-of-type {
  padding-bottom: 0;
}

.home.active {
  /* background-image: url(/Icon/home.svg); */
}

.item_nameBar {
  width: 4px;
  height: 24px;
  left: 236px;
  top: 102px;
  position: sticky;
  background: #f3017f;
}

.side_hr {
  background: #8b8999;
  /* flex-grow: 1; */
  opacity: 20%;
  height: 1px;
  margin: 10px 32px;
}

.Artist_logo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
